@import'fonts.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;

}


:root {
    --N-Light:'NotoSans-Light';
    --N-medium:'NotoSans-Medium';
    --N-regular:'NotoSans-Regular';
    --N-semiBold:'NotoSans-SemiBold';
    --light-tem: #FFFFFF;
    --dark-tem: #313131;
}
.header__nav{
    background: var(--dark-tem);
}
.header__nav-lang, .header__nav-lang:hover {
    color: var(--light-tem);
    line-height: 20px;
    font-size: 14px;
    font-family: var(--N-regular);
    margin-right: 101px;
}
.header__nav-phone,.header__nav-phone:hover {
    display: inline-block;
    color: var(--light-tem);
    line-height: 20px;
    font-size: 14px;
    font-family: var(--N-regular);
    margin-right: 32px;
    padding: 15px 0;
}
.header__nav-iconPhone::after{
    display: inline-block;
    content: '\f879';
    color: var(--light-tem);
    font-size: 15px;
    margin-right: 7px;
    
}
.header__nav-iconMan::after{
    display: inline-block;
    content: '\f406';
    color: var(--light-tem);
    font-size: 15px;
    margin-right: 7px;
}
.header__nav-link,.header__nav-link:hover{
    display: inline-block;
    color: var(--light-tem);
    line-height: 19px;
    font-size: 14px;
    font-family: var(--N-regular);

}
.header__nav-iconShop::after{
    display: inline-block;
    content: '\f07a';
    color: var(--light-tem);
    font-size: 15px;
    margin-right: 7px;
    margin-left: 41px;
}
.header__logo::before{
    display: inline-block;
    content: url(../img/logo.png);
    margin-right: 143px;
    margin-top: 18px;
}
.header__nav-search, .header__nav-search:hover{
    margin-right: 0 !important;
    border: 1px solid #313131;
    max-width: 630px;
    width: 100%;
    
}.header__nav-icon::before{
    content: '\f002';
    color: var(--light-tem);
    font-size: 16px;
    margin-right: 9px;
}
.header__nav-btn{
    background: var(--dark-tem);
    color: var(--light-tem);
    line-height: 19px;
    font-size: 14px;
    font-family: var(--N-regular);
    max-width: 190px;
    width: 100%;
}

