@import'fonts.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    list-style: none;
    text-decoration: none !important;

}


:root {
    --N-Light:'NotoSans-Light';
    --N-medium:'NotoSans-Medium';
    --N-regular:'NotoSans-Regular';
    --N-semiBold:'NotoSans-SemiBold';
    --light-tem: #FFFFFF;
    --dark-tem: #313131;
}
.header__nav{
    background: var(--dark-tem);
}
.header__nav-dropdawn {
    min-width:80px !important;
    left: -5px !important;
    position: relative;
}
.header__nav-lang-en, .header__nav-lang-en:hover{
    color: var(--dark-tem);
    line-height: 20px;
    font-size: 14px;
    font-family: var(--N-regular);
   
    
    
}
.header__nav-lang-ru,.header__nav-lang-ru:hover{
    color: #ABABAB;
    line-height: 20px;
    font-size: 14px;
    font-family: var(--N-regular);
    margin-top: 2px;
    margin-bottom: 2px;
    
}
.header__nav-lang-ru::before{
    content: '';
    height: 2px;
    width: 70px;
    background: #C4C4C4;
    position: absolute;
    left: 4px;
}
.header__nav-lang,.header__nav-lang:hover {
    color: var(--light-tem);
    line-height: 20px;
    font-size: 14px;
    font-family: var(--N-regular);
    margin-right: 101px;
}
.header__nav-phone,.header__nav-phone:hover {
    display: inline-block;
    color: var(--light-tem);
    line-height: 20px;
    font-size: 14px;
    font-family: var(--N-regular);
    margin-right: 32px;
    padding: 15px 0;
}
.header__nav-iconPhone::after{
    display: inline-block;
    content: '\f879';
    color: var(--light-tem);
    font-size: 15px;
    margin-right: 7px;
    
}
.header__nav-iconMan::after{
    display: inline-block;
    content: '\f406';
    color: var(--light-tem);
    font-size: 15px;
    margin-right: 7px;
}
.header__nav-link,.header__nav-link:hover{
    display: inline-block;
    color: var(--light-tem);
    line-height: 19px;
    font-size: 14px;
    font-family: var(--N-regular);

}
.header__nav-iconShop::after{
    display: inline-block;
    content: '\f07a';
    color: var(--light-tem);
    font-size: 15px;
    margin-right: 7px;
    margin-left: 41px;
}
.header__logo::before{
    display: inline-block;
    content: url(../img/logo.png);
    margin-right: 143px;
    margin-top: 18px;
}
.header__nav-search, .header__nav-search:hover{
    margin-right: 0 !important;
    border: 1px solid #313131;
    max-width: 630px;
    width: 100%;
    
}.header__nav-icon::before{
    content: '\f002';
    color: var(--light-tem);
    font-size: 16px;
    margin-right: 9px;
}
.header__nav-btn,.header__nav-btn:hover{
    background: var(--dark-tem);
    color: var(--light-tem);
    line-height: 19px;
    font-size: 14px;
    font-family: var(--N-regular);
    max-width: 190px;
    width: 100%;
}
.header__nav-search::placeholder{
    color:#BBBBBB;
    line-height: 19px;
    font-size: 14px;
    font-family: var(--N-regular);
}
.header__dropdawn-link, .header__dropdawn-link:hover{
    color: var(--dark-tem);
    line-height: 70px;
    font-size: 18px;
    font-family: var(--N-regular);


}
.header__navBottom-dropdawn{
    left: -68px !important;
}
.header__dropdawn-menu{
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    max-width: 300px !important;
    
}
.dropdown-menu.show{
    min-width: 300px;
}

.header__dropdawn{
   
    position: relative;
}
.header__dropdawn::before{
    content: '';
    height: 2px;
    max-width: 260px;
    width: 100%;
    background: var(--dark-tem);
    position: absolute;
    top: -8px;
    left: 20px;
}
.dropdown-item{
    color: var(--dark-tem);
    line-height: 18px;
    font-size: 14px;
    font-family: var(--N-regular);
}
.header__dropdawn-left{
   line-height: 50px;
   font-size: 16px;
   text-decoration:underline !important;
}
.header__content-title{
    color: var(--dark-tem);
    line-height: 70px;
    font-size: 48px;
    font-family: var(--N-medium);
    margin-bottom: 121px;
    text-align: center;

}
.header__content-link, .header__content-link:hover{
    background: var(--dark-tem);
    padding: 12px 46px;
    color: var(--light-tem);
    line-height: 25px;
    font-size: 18px;
    font-family: var(--N-regular);
}
.carousel-indicators [data-bs-target] {
    background: #ABABAB;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
}
.carousel-indicators .active {
    background: var(--dark-tem);
    width: 20px;
    height: 20px;
}
.main__content-top{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px; 
    margin-top: 86px;
    margin-bottom: 30px;
}
.main__content-watch{
    grid-column:span 2;
    grid-row:span 2;
    padding: 20px;
    background: #F4F4F4;
}

    

.main__content-title{
    color: var(--dark-tem);
    line-height: 70px;
    font-size: 24px;
    font-family: var(--N-medium);
    bottom: 25px;
}
.main__content-span{
    line-height: 70px;
    font-size: 20px;
    color: var(--light-tem);
    font-family: var(--N-regular);
    background: var(--dark-tem);
    padding: 10px 23px;
    border-radius: 50%;
    text-align: center;
    left: 21px;
    top: 12px;
}
.main__content-price{
    color: var(--dark-tem);
    line-height: 70px;
    font-size: 24px;
    font-family: var(--N-Light);
    left: 20px;
    bottom: 0;
}
.main__content-img{
    padding: 20px;
    background: #F4F4F4;
    width: 100%;
}
.main__content-Airpods{
    grid-column:span 2;
}
.main__content-titleAir{
    color: var(--dark-tem);
    line-height: 70px;
    font-size: 24px;
    font-family: var(--N-medium);
    top: 145px;
    left: 20px;
}
.main__content-priceAir{
    color: var(--dark-tem);
    line-height: 70px;
    font-size: 24px;
    font-family: var(--N-Light);
    left: 20px;
    top: 185px;
    
}
.main__content-spanMin{
    line-height: 70px;
    font-size: 20px;
    color: var(--light-tem);
    font-family: var(--N-regular);
    background: var(--dark-tem);
    padding: 10px 23px;
    border-radius: 50%;
    text-align: center;
    left: 21px;
    top: 158px;
}
.main__content-titleMin{
    color: var(--dark-tem);
    line-height: 30px;
    font-size: 24px;
    font-family: var(--N-medium);
    top: 15px;
    max-width: 250px;
    width: 100%;
    margin-left: 20px;
}
.main__content-priceMin{
    color: var(--dark-tem);
    line-height: 70px;
    font-size: 24px;
    font-family: var(--N-Light);
    top: 60px;
    left: 20px;
}
.main__content-priceM{
    color: var(--dark-tem);
    line-height: 70px;
    font-size: 24px;
    font-family: var(--N-Light);
    top: 30px;
    left: 20px;
}
.main__content-min{
    background: #F4F4F4;
}
.main__content-imgMin{
    max-width: 300px;
    width: 100%;
    background: #F4F4F4;
    bottom: 0px;
}

.main__content-bottom, .main__content-bottom:hover{
    color: var(--light-tem);
    background: var(--dark-tem);
    line-height: 40px;
    font-size: 20px;
    font-family: var(--N-regular);
    padding: 12px 28px;
    display: inline-block;
    max-width: 190px;
    width: 100%;

}
.main__callPone{
    margin-bottom: 60px;
}

.main__callPone-title{
    color: var(--dark-tem);
    line-height: 49px;
    font-size: 36px;
    font-family: var(--N-semiBold);
    margin-bottom: 30px;
    margin-top: 70px;
}
.main-img{
    width: 100%;
}
.main-title{
    color: var(--dark-tem);
    line-height: 22px;
    font-size: 16px;
    font-family: var(--N-medium);
    top: 226px;
    margin:0;
}
.main-span{
    color: var(--dark-tem);
    line-height: 19px;
    font-size: 14px;
    font-family: var(--N-Light);
    top: 253px;
    
}
.main-buy{
    background: var(--dark-tem);
    padding: 5px 36px;
    color: var(--light-tem);
    line-height: 19px;
    font-size: 14px;
    font-family: var(--N-regular);
    top: 282px;
    right: 100px;
    left: 100px;
    opacity:; 
}
.main-buy:hover{
    background: var(--dark-tem);
    padding: 5px 36px;
    color: var(--light-tem);
    line-height: 19px;
    font-size: 14px;
    font-family: var(--N-regular);
    top: 282px;
    opacity: 1; 
}
.main-item{
    padding-bottom: 30px;
    margin-bottom: 60px;
}

 
.main-icon{
    /* display:inline-block;
    content: '\f004';
    color: #313131 !important; */

    /* font-size: 17px; */
    max-width: 17px;
    width: 100%;
    right: 17px;
    top: 17px;
    opacity:;
}

.main-hover{
    max-height: 330px;
    height: 100%;
    max-width: 300px;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
}
.main-hover:hover{
    opacity: 1;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.main__laptop-title{
    color: var(--dark-tem);
    line-height: 49px;
    font-size: 36px;
    font-family: var(--N-semiBold);
    margin-top: 70px;
    margin-bottom: 30px;
}
.main__laptop{
    margin-bottom: 30px;
}
.main__laptop-box{
    column-gap: 30px;
}
.main__ps{
    margin-top: 70px;
}
.main__ps-title{
    color: var(--dark-tem);
    line-height: 65px;
    font-size: 48px;
    font-family: var(--N-semiBold);
    max-width: 520px;
    width: 100%; 
    margin-top: 20px;
    margin-bottom: 70px;
}
.main__ps-left{
    top: 95px;
    left: 20px;
}
.main__topSaller-title{
    color: var(--dark-tem);
    line-height: 49px;
    font-size: 36px;
    font-family: var(--N-semiBold);
    margin-top: 70px;
    margin-bottom: 30px;
}
.main__topSaller-box{
    column-gap: 30px;
}
.main__topSaller{
    margin-bottom: 30px;
}
/* footer start */

.footer__nav-logo::before{
    display: block;
    content: url(../img/logo-wight.png);
    margin-right: 143px;
}
.footer__nav-btn, .footer__nav-btn:hover{
    border: 1px solid #FFFFFF;
    background: var(--dark-tem);
    max-width: 190px;
    width: 100%;
    color: #FFFFFF;
    line-height: 25px;
    font-size: 18px;
    font-family: var(--N-regular);
}
.footer__nav-form{
    max-width: 330px;
    width: 100%;
}
.footer__nav-control{
    max-width: 520px;
    width: 100%;
}
.footer__nav-control::before{
    content: 'Subscribe to Newslatter';
    position: absolute;
    top:-5px;
    color: #FFFFFF;
    line-height: 25px;
    font-size: 18px;
    font-family: var(--N-regular);
}
.footer{
    padding-top: 30px;
    padding-bottom: 45px;
    background: var(--dark-tem);
    margin-top: 70px;
}
.footer__nav-telegram::before{
    display: block;
    content:'\f3fe';
    color: #FFFFFF;
    font-size: 41px;
    margin-left: 54px;

}
.footer__nav-facebook::before{
    display: block;
    content: '\f09a';
    color: #FFFFFF;
    font-size: 41px;
    margin-left: 23px;
}
.footer__nav-insta::before{
    display: block;
    content: '\f16d';
    color: #FFFFFF;
    font-size: 41px;
    margin-left: 23px;
}
.footer__nav-list{
    column-gap: 30px;
    margin-top: 50px;
    /* max-width: 520px;
    width: 100%; */
}
.footer__nav-link{
    color: #FFFFFF;
    line-height: 25px;
    font-size: 18px;
}
.footer__nav-bottom{
    max-width: 542px;
    width: 100%;
}




/* footer end */

